@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Aplikacija.Models.PlayStation>

@{
    ViewData["Title"] = "PlayStation Devices";
}

<h1>PlayStation Devices</h1>

<p>
    <a asp-action="Create">Add PlayStation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Cijena po satu</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.CijenaPoSatu</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>
